:root
{
    --background-color-white: rgb(255,255,255);
    --color-white: rgb(255,255,255);
    --background-light-gray: rgb(243, 244, 245);
    --color-light-gray: rgb(243, 244, 245);
    --background-color-black: rgb(35, 35, 35);
    --color-black: rgb(35, 35, 35);
    --background-color-gray:rgb(98 ,98 ,98);
    --color-gray:rgb(98 ,98 ,98);
    --background-color-orange:rgb(255 93 7 );
    --color-orange:rgb(255 93 7 );

    --border-light-gray:rgb(229, 229, 229);
    --border-dark-gray:rgb(191 186 186);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* this is css of header section */
.eh-body
{
    width: 100%;
    height: 100%;
}
.eh-body header
{
    width: 100%;
    height: 12vh;
    position: sticky !important;
    top: 0;
    z-index: 10;
    background-color: var(--background-color-white);
}
#eh-header
{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom:1px solid rgba(35, 35, 35, .1) !important;
}
#eh-logo
{
    
    display: inline-block;
    margin-left: 2.50rem;
}
#eh-logo-link
{
    text-decoration: none;
}
#eh-navbar
{
    display: inline-block;
    padding: 1rem .25rem;
    border-radius: 9999px;
    background-color: var(--background-light-gray);
}
#eh-navbar .nav-link
{
    /* margin-right: 10px; */
    padding-left: 1.50rem;
    padding-right: 1.50rem;
    color: var(--color-black);
    text-decoration: none;
    border-radius: 9999px;
        padding-top: .75rem;
        padding-bottom: .75rem;
        /* font-size: .75rem; */
        line-height: 1rem;
}
#eh-navbar .nav-link:hover
{
    color: var(--color-white);
    background-color: var(--background-color-black);
}
.active-link
{
    background-color: var(--background-color-black);
    font-weight: 600;
    color: var(--color-white) !important;
}
#eh-account
{
    display: inline-block;
    margin-right: 1.25rem
}
#eh-account a
{
    text-decoration: none;
}
#eh-account .account-btn
{

    width: 11vw;
    height: 7vh;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    border-radius: 999px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5rem;
    background-color: transparent;
    border:1px solid var(--border-light-gray);
    cursor: pointer;
    color: var(--color-black);
}
#eh-account .account-btn:hover
{
    border:1px solid var(--border-dark-gray);

}
#eh-account .account-btn:focus
{
    border: 2px solid var(--background-color-black);
}
main
{
    width: 100%;
    height: 100vh;
    min-height: 100vh;
    position: relative;
    /* background-color: var(--background-light-gray); */

}
/* this is home /index page css start */
/* this is css of banner from main section of index / home page  */
#eh-hm-main
{
    width: 100%;
    height: 100%;
}
#eh-banner
{
    width: 100%;
    height: 110%;
    background: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)),url(/static/images/eh-banner.webp);
    background-position: bottom;
    background-size: cover;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    color: var(--color-white) !important;
}
.banner-text
{
    margin-top: 10%;
    display: inline-block;
    /* border: 2px solid blue; */
    width: 50%;
    text-align: center;
}
.banner-text h1
{
    display: inline-block;
    /* border: 1px solid salmon; */
    /* text-align: center; */
    width: 100%;
    font-size: 60px;
    line-height: 1.5;
}
.search-links button
{
    padding-left: 1.50rem;
    padding-right: 1.50rem;
    padding-top: .75rem;
        padding-bottom: .75rem;
        border-radius: 9999px;
        background-color: transparent;
        border: none;
        color: var(--color-white);
        font-weight: 700;
}
.search-links
{
    text-align: center;
    margin-top: 2rem;
}
.search-links .active-btn
{
    color: var(--color-black);
    background-color: var(--background-color-white);
}
.search-links .btn:hover
{
    background-color: hsla(0, 0%, 100%, .1);
}
.search-area
{
    width: 50%;
}
.search-form
{
    margin-top: 1.27rem;
    width: 100%;
    padding-left: 1.5rem;
        padding-right: 1.5rem;
        padding-top: 1.75rem;
        padding-bottom: 1.75rem;
        border-radius: 20px;
    display: inline-block;
    background-color: var(--background-color-white);
    color: var(--color-black);
}
.form-searchbar
{
    display: flex;
    
    align-items: center;
    column-gap: 3rem;
}
.options
{
    width: 20%;
    display: inline-block;
}
.dpdw-btn
{
    margin-top: 1.5rem;
}
.dpdw-btn button
{
    width: 100%;
    font-size: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* gap: 2.6rem; */
    background-color: var(--background-color-white);
    border: none;
}
.line
{
    width: .1rem;
    height: 70px;
    border: 1px solid var(--color-gray);
    display: inline-block;
}
.search-button button
{
    width: 3rem;
    height: 3rem;
    border-radius: 14px;
    background-color: var(--background-color-orange);
    display: grid;
    place-content: center;
    color: var(--color-white);
    border: none;
}
.search-button button:hover
{
    box-shadow: 0 4px 14px 0 rgba(255, 93, 7, .3);;

}


/* this is home /index page css end */
/* this is login and register page css starts */

.sl-main
{
    width: 100%;
    height: 100%;
    /* position: relative; */
}
#eh-sl-main
{
    position: absolute;
    width: 100%;
    background-color: var(--background-light-gray);
}
.sl-container
{
    max-width: 420px;
    margin: auto;
    border-radius: 10px;
    margin-top: 3%;
    margin-bottom: 3%;
    padding: 1.5rem;
    background-color: var(--background-color-white);
}
.sl-logo
{
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    color: var(--color-orange);
    background-color: rgba(255, 93, 7, .1);
    place-content: center;
    display: grid;
}
.sl-heading
{
    margin-top: 1.25rem;
}
.sl-heading h1
{
    font-weight: 600;
    line-height: 2;
    font-size: 1.5rem;
}
#lin-form ,#sin-form
{
    margin-top: 1.25rem;
}
/* .lin-email ,.lin-pswrd
{
    width: 100%;
    display: grid;
    align-items: center;
} */
.sl-label
{
line-height: 1.8;
font-size: .875rem;
color: var(--color-gray);
margin-bottom: .25rem;
display: flex;
column-gap: .25rem;
align-items: center;
}
.sl-in-pos-rel
{
    position: relative;
}
.form-input
{
    display: block;
    width: 100%;
    border-radius: .75rem;
    border-width: 0;
    background-color: rgb(247 248 250);
    padding: .75rem 1.25rem;
    font-size: 1rem;
margin-bottom: .25rem;
    line-height: 1.5rem;
    --tw-text-opacity: 1;
    color: var(--color-black);
}
.form-input:focus-visible
{
    outline: 2px solid rgba(59,130,246,.5);
}
.lin-in a
{
    color: var(--color-gray);
    text-decoration: none;
    display: inline-block;
    border-bottom: 1px solid var(--color-gray);
    margin-top: .75rem;
}
#lin-form button , #sin-form  button
{
    width: 100%;
    border-radius: 12px;
    margin-top: 2rem;
    padding: .75rem;
    border: none;
    font-size: 1.25rem;
    display: flex;
    justify-content: center;
    background-color: var(--background-color-orange);
    color: var(--color-white);
    font-weight: 500;
    gap: 2;
    cursor: pointer;
}
#lin-form button:hover , #sin-form  button:hover
{
    box-shadow: 0 4px 14px 0 rgba(255, 93, 7, .3);;
}
.sl-link
{
    margin-top: 2rem;
    color: rgb(17 24 39);
    font-size: .875rem;
    line-height: 1.25rem;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.sl-link a
{
    text-decoration: none;
    color: var(--color-black);
    border-bottom: 1px solid;
    font-weight: 700;
    margin-left: .25rem;
}
.sl-link a:hover
{
    color: var(--color-orange);
    font-weight: 700;
}
/* .pswrd-eye
{
    place-content: center;
    position: absolute;
    top: 55%;
    right: .75rem;
    display: grid;
    transform: translateY(-50%);
}
.pswrd-eye button
{
    cursor: pointer;
    background-color: transparent;
    border: none;
} */


/* this is login and register page css ends */