<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DASHBOARD | HOME PAGE </title>
</head>
<body style="text-align: center; background-color: cadetblue;font-family:serif;">
    <h1> WELCOME TO HOME PAGE</h1>
    <hr>
    <nav> 
         
          <li>  <a href="/contact"> contact </a> </li>
          <li>  <a href="/about"> about </a> </li>
   
    </nav>
    <hr>
    <form method="post">
        {% csrf_token %}
        <input type="text" name="name" placeholder="Name"><br><br> 
        <input type="number" name="emp_id" placeholder="Employee ID"><br><br>
        <input type="email" name="email" placeholder="Email ID"><br><br>
        <input type="password" name="password" placeholder="Password"><br><br>
        <input type="submit" value="save">
     </form>

</body>
</html>